input{
    height:40px;
    width:300px;
    background-color: white;
}
#submit{
    height:40px;
    width:100px
}
#card{
    font-weight:bolder;
    font-size:larger;
    background-color: white;
    border:7px solid darkgoldenrod;
    border-radius: 20px;
}